<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HideAndSeek</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="icon" href="data:;base64,=">
</head>
<body>

<div id="app">
    <label>
        玩家ID：
        <input type="text" :value="playerId">
    </label>
    <button @click="matchPlayer">匹配</button>
    <div v-if="matching" style="display: inline">
        匹配中……
    </div>
    <div v-if="roomId">
        房间号：{{roomId}}
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            websock: null,
            playerId: 'player_' + Math.round(Math.random() * 1000),
            matching: false,
            roomId: '',
        },
        created() {
            this.initWebSocket();
        },
        destroyed() {
            this.websock.close() //离开路由之后断开websocket连接
        },
        methods: {
            //匹配玩家
            matchPlayer() {
                let actions = {"code": 600};
                this.websocketsend(actions);
                this.matching = true
            },
            confirmRoom() {
                let actions = {"code": 601,'room_id':this.roomId};
                this.websocketsend(actions);
                this.matching = false
            },
            initWebSocket() { //初始化weosocket
                const wsuri = "ws://192.168.56.101:8811?player_id=" + this.playerId;
                this.websock = new WebSocket(wsuri);
                this.websock.onmessage = this.websocketonmessage;
                this.websock.onopen = this.websocketonopen;
                this.websock.onerror = this.websocketonerror;
                this.websock.onclose = this.websocketclose;
            },
            websocketonopen() { //连接建立之后执行send方法发送数据
            },
            websocketonerror() {//连接建立失败重连
                this.initWebSocket();
            },
            websocketonmessage(e) { //数据接收
                let message = JSON.parse(e.data);
                let data = message.data
                switch (message.code) {
                    case 1001://匹配成功
                        this.roomId = data.room_id
                        this.confirmRoom()
                        break;
                }
            },
            websocketsend(Data) {//数据发送
                this.websock.send(JSON.stringify(Data));
            },
            websocketclose(e) {  //关闭
                console.log('断开连接', e);
            },
        }
    })
</script>
</body>
</html>